
  <div class ="container landing">
  <div class="welcome_container">
    <h1>Welcome to the Paiable App</h1>
  </div>
  
  
  <div class="form_container">
  <%= link_to "Sign up now!", new_user_path, class: "btn btn-lg btn-primary" %>
  </div>
  

    
  </div>
