<% provide(:title, "New Task") %>
<% provide(:name, "New Task") %>

<%= render 'form', task: @task %>

<div class="bttn">
<%= button_to 'Back', request.referrer, method: :get, class: 'btn btn-primary' %>
</div>
