<% provide(:title, "Edit User") %>
<% provide(:name, "Editing User") %>

<%= render 'form', user: @user %>

<div class="bttn">

<%= button_to 'Back', request.referrer, method: :get, class: 'btn btn-primary' %>
</div>