<% provide(:title, "Add new project") %>
<% provide(:name, "New Project") %>

<%= render 'form', project: @project %>

<div class="bttn">
<%= button_to 'Back', request.referrer, method: :get, class: 'btn btn-primary' %>
</div>
