@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,700,800&display=swap');
// @import "font-awesome-sprockets";
@import "font-awesome";

/* universal */

body {
  padding-top: 60px;
  background-color: #F1F3F2;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden; 
  overflow-y: auto;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: 180px;
}

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #434b54;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }

.btn-primary {
  color: #fff;
  background-color: #5fb523;
  border-color: #5fb523;
}

.btn-primary:hover {
  background-color: #5fb523;
}

.bttn {
  width: 100%;
  max-width: 665px;
  margin: auto;
  .button_to {
    display: inline;
  }
}
